$desktop-bp: 1200px;
$laptop-bp: 1080px;
$tablet-bp: 767px;
$mobile-bp: 610px;

$primary: #F0F1F1;
$secondary: #FDFDFD;
$white: #FFFFFF;
$purple: #484B98;
$dark-puprle: #383B83;
$grey: #C7C8D9;
$grey-text: #6E6E6E;
$light-grey: #E7E7EA;
$pink: #E8C5ED;
$light-pink: #FDF1FF;
