.footer {
    width: 100%;

    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;

    background-color: $purple;
}

.footer__inner {
    display: grid;
    grid-template: 90px / auto 1fr auto;
    align-items: center;

    @include breakpoint($mobile-bp) {
        grid-template: 44px / auto;
        margin-left: -44px;

        h1 {
            display: none;
        }
    }
}

.footer__nav {
    margin: 0 auto;
}

.footer__list {
    display: grid;
    grid-template: 1fr / repeat(3, auto);
    gap: 60px;

    @include breakpoint($tablet-bp) {
        gap: 30px;
    }
    @include breakpoint($mobile-bp) {
        gap: 0;
    }
}

.footer__link {
    position: relative;

    a {
        color: $white;
        font-weight: 700;
        line-height: 20px;

        transition: color .2s ease;
    }

    &:hover {
        a {
            color: $pink;
        }

        .footer__ico {
            fill: $pink;
        }
    }

    @include breakpoint($mobile-bp) {
        padding: 12px 10px 12px 30px;
        height: 44px;
        width: 100%;

        &.active {
            background-color: $dark-puprle;
        }
    }
}

.footer__ico {
    display: none;

    width: 12px;
    height: 12px;

    fill: $white;

    position: absolute;
    top: 50%;
    left: 13px;

    transition: fill .2s ease;

    transform: translateY(-50%);

    @include breakpoint($mobile-bp) {
        display: block;
    }
}