<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <h1 class="footer__logo  logo">manage</h1>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__link">
                        <svg class="footer__ico">
                            <use xlink:href="#calendar"></use>
                        </svg>
                        <a href="#">Calendar</a>
                    </li>
                    <li class="footer__link  active">
                        <svg class="footer__ico">
                            <use xlink:href="#plans"></use>
                        </svg>
                        <a href="#">Plans</a></li>
                    <li class="footer__link">
                        <svg class="footer__ico">
                            <use xlink:href="#todo"></use>
                        </svg>
                        <a href="#">To Do</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__social  social">
                <div class="social__share" id="social-share">
                    <svg>
                        <use xlink:href="#share"></use>
                    </svg>
                </div>
                <ul class="social__list" id="social-list">
                    <li class="social__link"><a href="#" target="_blank">
                        <svg class="social__ico">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a></li>
                    <li class="social__link"><a href="#" target="_blank">
                        <svg class="social__ico">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a></li>
                    <li class="social__link"><a href="#" target="_blank">
                        <svg class="social__ico">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>