<main class="main">
    <div class="container">
        <div class="main__inner">
            <div class="main__items">

                <div class="main__add">
                    <svg class="main__add-ico">
                        <use xlink:href="#add"></use>
                    </svg>
                </div>

                <div class="main__item  card">
                    <div class="card__header">
                        <img src="assets/images/main/card-photo-1.png" alt="card photo">
                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Vacation</h2>
                        <div class="card__date">
                            <time class="card__day" datetime="2019-05-10 00:00">10/05/2019</time>
                            <div class="card__time"></div>
                        </div>
                    </div>
                    <div class="card__shroud"></div>
                </div>

                <div class="main__item  card">
                    <div class="card__header">
                        <img src="assets/images/main/card-photo-2.png" alt="card photo">
                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Cinema</h2>
                        <div class="card__date">
                            <time class="card__day" datetime="2019-05-11 19:00">11/05/2019</time>
                            <div class="card__time">7pm</div>
                        </div>
                    </div>
                    <div class="card__shroud"></div>
                </div>

                <div class="main__item  card  card--short">
                    <div class="card__header">
                        <h2>7pm - 8pm</h2>
                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Doctor</h2>
                        <div class="card__date">
                            <time class="card__day" datetime="2019-05-10 00:00">10/05/2019</time>
                        </div>
                    </div>
                </div>

                <div class="main__item  card  card--short passed">
                    <div class="card__header">
                        <h2>9am - 10am</h2>
                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Meeting</h2>
                        <div class="card__date">
                            <time class="card__day" datetime="2019-05-10 00:00">10/05/2019</time>
                        </div>
                    </div>
                </div>

                <div class="main__item  card">
                    <div class="card__header">

                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Family dinner</h2>
                        <div class="card__date">
                            <time class="card__day" datetime="2019-12-11 00:00">11/12/2019</time>
                            <div class="card__time"></div>
                        </div>
                    </div>
                    <div class="card__shroud"></div>
                </div>

                <div class="main__item  card">
                    <div class="card__header">

                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Coffee with Susan</h2>
                        <div class="card__date">
                            <time class="card__day" datetime="2019-05-10 00:00">10/05/2019</time>
                            <div class="card__time"></div>
                        </div>
                        <div class="card__notes">http://therainforestcafe.co.uk/</div>
                    </div>
                    <div class="card__shroud"></div>
                </div>

                <div class="main__item  card  card--short">
                    <div class="card__header">
                        <h2>4pm - 5pm</h2>
                    </div>
                    <div class="card__content">
                        <h2 class="card__title">Message</h2>
                        <div class="card__date">
                            <time class="card__day" datetime="2019-08-11 00:00">11/08/2019</time>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<div class="placeForFooter"></div>